nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: #dbd8e3;
  color: #ecf0f1; /* Secondary Color */
  box-shadow: 2px 18px 33px 9px rgba(92, 84, 112, 0.3);
  position: fixed;
}
img {
  width: 70px;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
li {
  font-size: larger;
}
.linksContainer {
  display: flex;
  gap: 1rem;
}
a {
  font-family: "Roboto", sans-serif;
  color: #5c5470; /* Accent Color */
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bolder;
}
